<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- 这是jquery的核心包  -->
    <script type="text/javascript" src="../jquery.min.js"></script>
    <script src="../highcharts/code/highcharts.js"></script>
    <script src="../highcharts/code/modules/exporting.js"></script>
    <script src="../highcharts/code/modules/export-data.js"></script>

</head>

<body>
<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div><br>

</body>
<script>


    $(function () {
        /*$.ajax({
            url:"../queryCarAll",
            type:"post",
            dataType:"json",
            async:true,
            success:function (data) {
                var xtext = [];//X轴TEXT
                var nums = [];//y轴数量
                for (var i=0;i<data.length;i++){

                    nums.push(data[i].count);
                    xtext.push(data[i].time);
                }
                var chart = Highcharts.chart('container1', {
                    title: {
                        text: '每一年的车辆销售情况'
                    },
                    yAxis: {
                        title: {
                            text: '销售数量'
                        }
                    },

                    xAxis: {
                        categories: xtext,
                        crosshair: true

                    },
                    series: [{
                        name:"数据",
                        data:nums
                    }]

                });
            }


        })
        readLine(xtext,nums);*/
        /*   $(function(){
            $.ajax({
                url:"../queryZhu",
                type:"post",
                dataType:"json",
                async:true,
                success:function (data) {
                    var xtext = [];//X轴TEXT
                    var nums = [];//y轴数量
                    for (var i = 0; i < data.length; i++) {
                        nums.push(data[i].counts);
                        xtext.push(data[i].time);
                    }
                    var chart = Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: '车辆销售信息'
                        },
                        subtitle: {
                            text: '数据来源:1905'
                        },
                        xAxis: {
                            categories: xtext,
                            crosshair: true
                        },
                        yAxis: {
                            min: 0,
                            title: { 飞
                                text: '销售量'
                            }
                        },
                        tooltip: {
                            // head + 每个 point + footer 拼接成完整的 table
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        },
                        plotOptions: {
                            column: {
                                borderWidth: 0
                            }
                        },
                        series: [{
                            data: nums,
                        }]
                    })
                }
            })
        })
    })*/

        //面积
        $.ajax({
            url: "../querymianji",
            type: "post",
            dataType: "json",
            async: true,
            success: function (data) {
                var xtext = [];//X轴TEXT
                var nums = [];//y轴数量
                for (var i = 0; i < data.length; i++) {
                    nums.push(data[i].counts);
                    xtext.push(data[i].cname);
                }
                var chart = Highcharts.chart('container2', {
                    chart: {
                        type: 'areaspline'
                    },
                    title: {
                        text: '每个品牌的销量'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 150,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    xAxis: {
                        categories: xtext,
                        crosshair: true
                    },
                    yAxis: {
                        title: {
                            text: '销量'
                        }
                    },
                    tooltip: {
                        shared: true,
                        valueSuffix: ' 单位'
                    },
                    plotOptions: {
                        areaspline: {
                            fillOpacity: 0.5
                        }
                    },
                    series: [{
                        name: '品牌',

                        data: nums,
                    }]

                })
            }
        })
    })
</script>
</html>