<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.CarMapper" >


  <select id="queryCarList" resultType="com.jk.model.Car">
    SELECT  * FROM t_car;
  </select>
  <insert id="addUser">
    insert into t_car (carName,carTime,carPrice)values(#{carName},#{carTime},#{carPrice})

  </insert>
  <delete id="delall">
    delete from t_car where carId=#{id}
  </delete>
  <select id="openUpdate" resultType="com.jk.model.Car">
    SELECT  * FROM t_car where carId=#{id};
  </select>



</mapper>