<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script  type="text/javascript" src="../js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/icon.css">
    <link rel="stylesheet" href="../js/jquery-easyui-1.5/themes/default/easyui.css">

</head>

<body>

<div id="tools">
    <a href="javascript:openAdd()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
</div>

<table id="userTable"></table>
<!-- 定义新增的div -->
<div id="userDialog" class="easyui-dialog" data-options="closed:true,width:500,height:400,modal:true,buttons:'#buttons'">
    <form id="userForm" method="post">
        <input name="carId" style="display:none">
        <table border="1">
            <tr>
                <td>名称</td>
                <td><input class="easyui-textbox" name="carName"></td>
            </tr>
            <tr>
                <td>价格</td>
                <td><input class="easyui-textbox" name="carPrice"></td>
            </tr>
            <tr>
                <td>日期</td>
                <td><input class="easyui-datebox" name="carTime"></td>
            </tr>

        </table>
    </form>
</div>
<!-- 定义对话框的按钮 -->
<div id="buttons">
    <a href="javascript:saveUser()" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
    <a href="javascript:closeDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
</div>
</body>
<script>
    $(function(){
        initUserTable();//初始化用户表格
    })
    //初始化用户表格
    function initUserTable(){
        $("#userTable").datagrid({
            url:"../queryCarList",
            columns:[
                [{field:"checkbox",checkbox:true},
                    {field:"carId",title:"id"},
                    {field:"carName",title:"名称"},
                    {field:"carPrice",title:"价格"},
                    {field:"carTime",title:"日期"},
                    {field:"tool",title:"操作",formatter:function(value,row,index){
                            var str = "<a href='javascript:openUpdate("+row.carId+")'>修改</a>"+"|"+"<a href='javascript:delall("+row.carId+")'>删除</a>";

                            return str;
                        }}
                ]
            ],
            pagination:false,
            pageList:[2,4,6,8],
            pageSize:2,
            pageNumber:1,
            fit:true,
            toolbar:"#tools"
        })
    }
    //打开新增弹框
    function openAdd(){
        $("#userDialog").dialog({
            closed:false,
            title:'新增用户'
        });
    }
    //关闭新增弹框
    function closeDialog(){
        $("#userDialog").dialog("close");
    }
    //保存用户
    function saveUser(){
        $("#userForm").form("submit",{
            url:"../addUser",
            success:function(){
                //关闭弹框
                closeDialog();
                //刷新表格
                $("#userTable").datagrid("load")
            }
        });
    }

    function delall(id) {
        $.ajax({
            url:"../delall",
            data:{id:id},
            success:function () {
                $("#userTable").datagrid("load")
            }

        })
    }

    function openUpdate(id) {
        $.ajax({
            url:"../openUpdate",
            data:{id:id},
            success:function (data) {
                $("#userForm").form("load",data);
                $("#userDialog").dialog({
                    closed:false,
                    title:'修改用户'
                });
            }
        })
    }

</script>
</html>